<div class="wrapper">

  <div class="main-content">
    <div class="main-content__container">
      <app-header></app-header>
      <hr style="width:100%; float: none; border-color: #42A2E0">
      <br>
      <div class="row builder">

        <div class="col-sm-8">
          <div class="resume-wrapper">
            <div class="resume" data-page-scale-to=".resume-layout">

              <div class="two-column resume-layout cv8">

                <div class="resume__columns">
                  <div class="resume__side">
                    <!-- <div data-sortable-2="" class="resume__blocks_container"> -->
                      <!-- <section class="resume__section resume__skills" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                        <div class="resume__content">
                          <h2 style="font-size: 1.25em">Languages Known</h2>
                          <div class="resume__text">
                            <div class="extra">
                              <div class="extra-info">
                                Tamil
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:100%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                            <div class="extra">
                              <div class="extra-info">
                                English
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:100%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section> -->
                    <!-- </div> -->
                    <!-- <div data-sortable-2="" class="resume__blocks_container"> -->
                      <section class="resume__section resume__skills" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                        <div class="resume__content">
                          <h2 style="font-size: 1.25em">Skills</h2>
                          <div class="resume__text">
                            <div class="extra">
                              <div class="extra-info">
                                Agile Project Execution Model
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:80%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                iOS App Development
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:80%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Swift/Objective-C
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:60%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Cordova / Ionic Framework
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:80%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Augmented Reality
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:60%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                HTML/JavaScript/css
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:80%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Typescript/Angular2+
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:60%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                iOT/Python
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:60%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Data-Structure &amp; Algorithms
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:60%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>

                            <div class="extra">
                              <div class="extra-info">
                                Appstore submission
                              </div>
                              <div class="extra-details">
                                <div class="extra-details__bg">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                                <div class="extra-details__progress" style="width:80%">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    <!-- </div> -->
                  </div>

                  <div class="resume__main resume__blocks_container">
                    <section class="resume__section resume__summary" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                      <div class="resume__content">
                        <i class="fa fa-pencil-square-o"></i>
                        <h2 style="font-size: 1.25em">Professional Summary</h2>
                        <div class="other">
                          <div class="other-info">
                            <div>Innovative, forward-thinking professional offering over 4.4 years of success in
                              various technologies in the areas of Mobile App Development such as iOS, Ionic,
                              Cordova, Edge Connect, Xamarin, PWA. Towards my own interest I have good exposure to
                              IoT, Full Stack Development. Expert in POS,
                              m-Commerce, Banking, Education and HealthCare Domains. Integrated SiriKit for payment purposes in Banking apps.</div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="resume__section resume__experience" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                      <div class="resume__content">
                        <i class="fa fa-briefcase"></i>
                        <h2 style="font-size: 1.25em">Employment history</h2>
                        <div class="xp-item">
                          <div class="xp-job">
                            Senior Software Engineer, Aspire Systems. Chennai
                          </div>
                          <div class="xp-date">
                            May. 2015 – Present
                          </div>
                          <div class="xp-detail">
                            <ul>
                              <li>Developed iOS and Hybrid Mobile Application and Released the app in both App Store
                                and Play Store.</li>
                              <li>Worked on Proposal and participated in Pre-Sales activities for mobility Practices as MobileCoE.</li>
                              <li>Designed strategic plan for component development practices to support future
                                projects.</li>
                              <li>Proposed technical feasibility solutions for new functional designs and suggested
                                options for performance improvement of technical objects.</li>
                              <li>Led a team of 4 member and took responsiblity for them and their deliverables</li>
                              <li>Established compatibility with third party software products by developing
                                programme for modification and integration.</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="resume__section resume__education" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                      <div class="resume__content">
                        <i class="fa fa-graduation-cap"></i>
                        <h2 style="font-size: 1.25em">Education</h2>
                        <div class="xp-item">
                          <div class="xp-job">
                            K. S. Rangasamy College of Technology, Tiruchengode, Tamilnadu
                          </div>
                          <div class="xp-date">
                            B.Tech, Information Technology, Apr. 2015 & Secured <strong>First Class with Distinction</strong>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="resume__section resume__others" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                      <div class="resume__content">
                        <i class="fa fa-book"></i>
                        <h2 style="font-size: 1.25em">Awards</h2>
                        <div class="other">
                          <div class="other-info">
                            <ul>
                              <li><strong>Role Star </strong>- An Award from Organisation for PoC developed in new
                                technology within short timeline and based on Customer feedback</li>
                              <li>Recognised for <strong>Fast Tracker Training Programme</strong>, Leadership
                                Programme <strong>I</strong>nter<strong>O</strong>rganisation level</li>
                              <li><strong>Hackathon Winner </strong>- Hackathon winner in Blockchain Technology for
                                Retail Domain by Hyperledger Fabric</li>
                              <li><strong>Hackathon Runner</strong> - Developed a smart Parking System with iOT using
                                Raspberry Pi3, PubNub Protocol(MQTT), IR/UV Sensors</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="resume__section resume__others" style="font-family: &quot;Roboto TTF&quot;, sans-serif; font-size: 1.0em">
                      <div class="resume__content">
                        <i class="fa fa-book"></i>
                        <h2 style="font-size: 1.25em">Projects</h2>
                        <div class="other">
                          <div class="other-info">
                            <ul>
                              <li><strong>DYOB Banking App</strong>
                                <ul>
                                  <li>Integrated Resonance SDK for 2-step Authentication with high accuracy as the authenticator app should be available</li>
                                  <li>Integrated Siri Kit to do banking Operations</li>
                                </ul>
                              </li>
                              <li><strong>Health-Care Cardio App</strong>
                                <ul>
                                  <li>Integrated BLE Peripheral for HeartBeat Data</li>
                                  <li>Developed a custom canvase for live graph display based on the data</li>
                                  <li>Stored the data in EDF Format and sync the edf file with the server</li>
                                </ul>
                              </li>
                              <li><strong>PRIOS - m-commerce App</strong>
                                <ul>
                                  <li>Integrated AR to view the cart items in-store</li>
                                  <li>Implemented Graph algorithm in identifying the shortest path and Beacon is used to identify the instore location</li>
                                  <li>Integrated Virtual Try-on using openCV Computer Vision library, through which the user can try the selected jewel</li>
                                </ul>
                              </li>
                              <li><strong>Early Reading Assessment App</strong>
                                <ul>
                                  <li>Integrated Audio capturing and updating CMS for future reference</li>
                                  <li>Encrypted the audio file for reducing size and for high security</li>
                                  <li>Automated the evaluation process according to the assessment result</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </section>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="resume-buttons">
            <a class="download-link btn-primary btn--large" target="_blank" href="./assets/Manikhandan_SP_Resume.pdf">
              <span class="fa fa-download"></span>
              Download
            </a>
            <a class="btn-primary btn--large" (click)="goTop()">
              <span class="fa fa-phone"></span>
              Contact Me
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>